<div class="banner" >
  <div class="banner-content">
    <div class="container">
      <h1>Cocktail Finder</h1>
      <h3>Your Personal Bartender</h3>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>
</div>
