<%= cl_image_tag("ilfw66tb7ranwyumkvoo.jpg", :radius=>5, :width=>372, :crop=>"scale") %>

<div class="container">
  <h1>List of Cocktails</h1>

  <% @cocktails.each do |cocktail| %>

      <div><%= link_to cocktail.name, cocktail %></div>
  <% end %>
</div>

<%= link_to 'New Cocktail', new_cocktail_path %>


